<section
    class='tab {{tabs.experiences.cssClass}} {{tabs.experiences.id}}'
    data-tab='{{tabs.experiences.id}}'
    data-group='{{tabs.experiences.group}}'
>
    <button type="button" data-action="addExperience">
        New Experience
    </button>

    {{#each document.system.experiences as |experience key|}}
        <div class="experience-chip">
            <input class="experience.value" type="text" name="system.experiences.{{key}}.name" value="{{experience.name}}" />
            <input class="experience-value" type="text" name="system.experiences.{{key}}.modifier" value="{{experience.modifier}}" data-dtype="Number" />
            <button type="button" class="experience-button" data-action="removeExperience" data-experience="{{key}}"><i class="fa-solid fa-x"></i></button>
        </div>
    {{/each}}
</section>